/* app css stylesheet */

td.unavailable{
  text-align: center;
  background-color: rgb(245,245,245);
}

th.timerange{
  text-align: center;
  font-weight: normal;
  font-size: 0.8em;
}

th{
  padding: 10px;
  text-align: right;
}
td{
  padding: 10px;
  text-align: center;
}

.allof{
  background-color: red;
  padding: 0.2em;
  margin: 0.25em;
  border-radius: 0.25em;
}
.allof.satisfied{
  background-color: rgb(255,179,179);
  text-decoration: line-through;
  color: gray;
}
.oneof{
  background-color: orange;
  padding: 0.2em;
  margin: 0.25em;
  border-radius: 0.25em;
}
.oneof.satisfied{
  background-color: rgb(255,204,153);
  text-decoration: line-through;
  color: gray;  
}

.valid_allof_time{
  background-color: rgb(255,179,179);
}
.valid_oneof_time{
  background-color: rgb(255,204,153);
}
.meeting{
  background-color: rgb(220,220,220);
}
.meeting_list{
  margin: 0.25em;
}

.highlighted{
  background-color: rgb(220,220,255)
}

