/* app css stylesheet */

td.unavailable{
  text-align: center;
  background-color: rgb(245,245,245);
}

th.timerange{
  text-align: center;
  font-weight: normal;
  font-size: 0.8em;
}

th{
  padding: 10px;
  text-align: right;
}
td{
  padding: 10px;
  text-align: center;
  font-size: 0.75em;
}

.allof{
  background-color: red;
  padding: 0.2em;
  margin: 0.25em;
  border-radius: 0.25em;
}
.allof.satisfied{
  background-color: rgb(255,179,179);
  text-decoration: line-through;
  color: gray;
}
.oneof{
  background-color: orange;
  padding: 0.2em;
  margin: 0.25em;
  border-radius: 0.25em;
}
.oneof.satisfied{
  background-color: rgb(255,204,153);
  text-decoration: line-through;
  color: gray;  
}
.unused_agent{
  border-color: black;
  border-width: 1px;
  padding: 0.2em;
  margin: 0.25em;
  border-radius: 0.25em;
}

.valid_allof_time{
  background-color: rgb(255,179,179);
}
.valid_oneof_time{
  background-color: rgb(255,204,153);
}
.meeting{
  background-color: rgb(220,220,220);
}
.meeting_list{
  margin: 0.25em;
}

@keyframes slideout{
  0% {transform: translate(0,0) scaleY(1); 
       opacity: 1;
       line-height: 1.2em;
       height: 1.2em}
  75% {transform: translate(100vw,0) scaleY(1); 
       opacity: 1;
       line-height: 1.2em;
       height: 1.2em}
  100% {transform: translate(100vw,0) scaleY(0); 
        opacity: 0; 
        line-height: 0em;
        height: 0em;}
}

@keyframes slidein{
  0% {transform: translate(-100vw,0) scaleY(0); 
        opacity: 0; 
        line-height: 0em;
        height: 0em;}
  25% {transform: translate(-100vw,0) scaleY(1); 
       opacity: 1;
       line-height: 1.2em;
       height: 1.2em}
  100% {transform: translate(0,0) scaleY(1); 
       opacity: 1;
       line-height: 1.2em;
       height: 1.2em}
}

.animate_hide {
  line-height: 1.2em;
  height: 1.2em;
  transform: scaleY(1);
  transition: all;
}

.animate_hide.ng-hide-remove {
  animation: slidein 0.75s;  
}

.animate_hide.ng-hide{
  animation: slideout 0.75s;
}

.highlighted{
  background-color: rgb(220,220,255)
}

