/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

tr.odd-row{
  background-color: rgb(240,240,255);
}
tr.odd-row > td.unavailable{
  background-color: rgb(230,230,255);
}
td.unavailable{
  text-align: center;
  background-color: rgb(245,245,245);
}

th.timerange{
  text-align: center;
  font-weight: normal;
  font-size: 0.8em;
}

th.highlight{
  border-style: solid;
}

td.rowlight{
  border-top-style: solid;
  border-bottom-style: solid;
}
td.collight{
  border-right-style: solid;
  border-left-style: solid;
}

th{
  padding: 10px;
  text-align: right;
}
td{
  padding: 10px;
  text-align: center;
}

.allof{
  background-color: red;
  padding: 0.2em;
  margin: 0.25em;
  border-radius: 0.25em;
}
.oneof{
  background-color: orange;
  padding: 0.2em;
  margin: 0.25em;
  border-radius: 0.25em;
}
.meeting_list{
  margin: 0.25em;
}

.highlighted{
  background-color: rgb(220,220,255)
}

