<!DOCTYPE html>
<html lang="en" ng-app="CSDschedule" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>CSD Schedule</title>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="bower_components/angular-datatables/dist/angular-datatables.min.js"></script>  
<script src="app.js"></script>

<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
<link rel="stylesheet" href="bower_components/datatables/media/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="app.css">
<script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

</head>
<body>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <div ng-controller="ScheduleController as control" id="schedule_list">
        <table class="row-border hover" datatable="ng"
               dt-options="control.options" dt-instance="control.dt">
        <thead>
          <tr>
            <th/>
            <th ng-repeat="time in schedule.times | orderBy : '-start' : true"
                class="timerange">
              {{ time.start | date:'h:mm a' : 'UTC'}}-
              {{ time.end | date:'h:mm a' : 'UTC'}}
            </th>
            <th>
              <button ng-hide="adding_time" ng-click="adding_time = true">
                Add Time Slot
              </button>
              <input ng-show="adding_time" type="text" ng-model="new_time"
                     ng-keypress="control.newTime($event,new_time,-1)">
              </input>
            </th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="agent in schedule.agents">
          <th>{{agent}}</th>
          <td ng-repeat="time in schedule.meetings[agent]"
              ng-class="{unavailable: time.mid == 0}"
              ng-click="schedule.toggleAvailability(agent,time)"> 
            <span ng-hide="time.available">
              &#x2717
            </span>
          </td>
        </tr>

        <tr>
          <th><input type="text" ng-model="new_agent"
                     ng-keypress="schedule.newAgent($event,new_agent)"></th>
          <td ng-repeat="time in schedule.data.valid_times"/>
        </tr>

  </tbody>
  </table>
  </div>
</body>
</html>
